DEBUG=True
SECRET_KEY=yoursecretkeyhere
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,192.168.68.101

# Database
DB_NAME=avtorent_db
DB_USER=avtorent_user
DB_PASSWORD=avtorent_pass
DB_HOST=db
DB_PORT=5432
